// Font types
$fancy-font-family: 'Lobster Two', cursive;
$font-family: 'Lato', sans-serif;

// Colors
$primary: #d52941;
$primary-dark: #990d35;
$secondary: #fcd581;
$secondary-dark: #f4ac32;
$blue: #2274a5;
$green: #5A962C;
$black: #151515;
$white: #F0F0F0;
$pureWhite: #FFFFFF;

$corner-radius: 6px;
