@import '_variables.scss';
@import '_header.scss';
@import '_footer.scss';

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    font-family: $font-family;
}

img {
    width: 100%;
    display: inherit;
    object-fit: cover;
}

.fancyFont {
    font-family: $fancy-font-family;
}

main {
    div {
        img {
            filter: brightness(50%);
        }
    }
}

.imgButtons {
    position: relative;
    text-align: center;
    font-size: 1.25em;
    .buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        text-shadow: 2px 2px 4px $black;
        display: grid;
        grid-gap: 20px;
        p {
            padding-bottom: 7px;
        }
        a {
            text-align: center;
            border: 2px solid $white;
            padding: 5px;
            border-radius: $corner-radius;
        }
        a:link, a:visited {
            color: $white;
        }
    }
}

.backgPrimary {
    background-color: $primary;
    color: $white;
}

.backgSecondary {
    background-color: $secondary;
}

.backgPrimaryDark {
    background-color: $primary-dark;
    color: $white;
}

.backgGreen {
    background-color: $green;
    color: $black;
}

.backgBlue {
    background-color: $blue;
    color: $white;
}

.backgSecondaryDark {
    background-color: $secondary-dark;
}

.special {
    font-weight: bold;
}

.textCenter { 
    text-align: center;
}

.video {
    width: 100%;
}

.block {
    padding: 1.75em 1em;
}

.menu {
    h1 {
        font-family: $fancy-font-family;
    }

    .special {
        border-radius: $corner-radius;
        margin: 1.5em 0;
    }

    .itemMenu {
        margin: 1em 0em;
        font-size: 14px;
    }
    .priceMenu {
        font-weight: bold;
        font-size: 16px;
        margin-left: 5px;
    }
}

.mapResponsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }    
}

// Tablet
@media only screen and (min-width: 600px) {
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .block {
            background-color: $pureWhite;
            border: 1px solid $black;
        }

        .expandBackgSecondary {
            background-color: $secondary;
        }

        .special {
            background-color: $primary;
        }
    }

    .mobileOnly {
        display: none;
    }

    #centerSpag {
        height: 25vh;
        object-position: 50% 70%;
    }

    .video {
        height: 40vh;
    }
}

#centerSpag {
    height: 25vh;
    object-position: 50% 70%;
}
// Desktop
@media only screen and (min-width: 950px) {
    img {
        height: 70vh;
    }

    .video {
        height: 60vh;
    }

    .block {
        margin: 2em 5%;
        border-radius: $corner-radius;
    }

    .split {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2em;
        grid-column-gap: 50px;
        .block {
            display: grid;
            text-align: center;
            margin: 0;
        }
    }

    #centerSpag {
        height: 70vh;
    }

    .aboutUs {
        display: grid;
        > article {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
            padding: 30px;
            img {
                max-height: 400px;
            }
        }
    }
}

